*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(236, 236, 34);
}

.logo{
    padding: 10px;
    width: 50px;
}

h1{
    color: rgb(73, 73, 73);
}

.cuerpo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 50px;
    width: 100%;
    background-image: url("./Image/FONDO.jpg");
    background-position: center;
    background-size: cover;
}

.cuerpo2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-block: 50px;
    width: 100%;
    background-image: url("./Image/FONDO.jpg");
    background-position: center;
    background-size: cover;
}

.cuerpo__texto{
    width: 30%;
    margin-left: 20px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(236, 236, 34);
    padding: 35px;
    border-radius: 200px;
}


.cuerpo__boton{
    margin-top: 20px;
    margin-left: 130px;
    padding-block: 15px;
    border-radius: 200px;
    background-color: rgb(236, 236, 34) ;
}

.cuerpo__hamburguesas{
    padding-inline: 25px;
}

.cuerpo__acompaniamiento{
    padding-inline: 20px;
}

.cuerpo__bebidas{
    padding-inline: 50px;
}

.cuerpo__todo{
    padding-inline: 15px;
}

.contenedor2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(236, 236, 34);
}

.footer__parrafo{
    color: rgb(73, 73, 73);
    font-size: 20px;
}

.cuerpito{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    background-color: rgb(145, 139, 139);
    border-radius: 10px;
}
.producto{
    border-radius: 10px;

}

.producto__detalle{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.producto__titulo{
    text-decoration: double underline;
}

.producto__precio{
    font-size: 25px;
}

.producto__agregar{
    padding: 10px;
    background-color: rgb(66, 65, 65);
    border-radius: 10px;
}